<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
    <PropertyGroup>
        <ApplicationRevision>30</ApplicationRevision>
        <ApplicationVersion>1.0.0.*</ApplicationVersion>
        <BootstrapperEnabled>True</BootstrapperEnabled>
        <Configuration>Release</Configuration>
        <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
        <GenerateManifests>true</GenerateManifests>
        <Install>True</Install>
        <InstallFrom>Web</InstallFrom>
        <InstallUrl>http://app.pc28.space/robot/</InstallUrl>
        <IsRevisionIncremented>True</IsRevisionIncremented>
        <IsWebBootstrapper>True</IsWebBootstrapper>
        <MapFileExtensions>True</MapFileExtensions>
        <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
        <Platform>Any CPU</Platform>
        <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
        <PublishUrl>bin\robot\</PublishUrl>
        <PublishProtocol>ClickOnce</PublishProtocol>
        <PublishReadyToRun>False</PublishReadyToRun>
        <PublishSingleFile>False</PublishSingleFile>
        <SelfContained>False</SelfContained>
        <SignatureAlgorithm>(无)</SignatureAlgorithm>
        <SignManifests>False</SignManifests>
        <SkipPublishVerification>false</SkipPublishVerification>
        <TargetFramework>net8.0-windows</TargetFramework>
        <UpdateEnabled>True</UpdateEnabled>
        <UpdateMode>Foreground</UpdateMode>
        <UpdateRequired>False</UpdateRequired>
        <WebPageFileName>Publish.html</WebPageFileName>
        <CreateDesktopShortcut>True</CreateDesktopShortcut>
        <History>True|2025-05-03T17:29:24.7781277Z||;True|2025-05-04T00:06:16.8273214+08:00||;True|2025-05-03T22:52:58.5158966+08:00||;True|2025-04-20T08:44:39.4119670+08:00||;True|2025-04-18T14:15:01.0563695+08:00||;True|2025-04-18T14:00:02.2422551+08:00||;True|2025-04-18T13:59:12.6745573+08:00||;False|2025-04-18T13:55:50.7615154+08:00||;False|2025-04-18T13:54:35.2352413+08:00||;False|2025-04-18T13:52:55.3574170+08:00||;False|2025-04-18T13:52:47.0814579+08:00||;False|2025-04-18T13:52:16.3576041+08:00||;True|2025-04-18T13:48:49.9418746+08:00||;True|2025-04-18T13:48:45.0417802+08:00||;</History>
    </PropertyGroup>
    <ItemGroup>
        <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
            <Install>true</Install>
            <ProductName>.NET 桌面运行时 8.0.13 (x64)</ProductName>
        </BootstrapperPackage>
    </ItemGroup>
</Project>